@page "/"

<PageTitle>Index</PageTitle>

<TabBar Active="Tab 2">
	<Tab Name="Details" Icon="unused">
		<p>Some content</p>
	</Tab>
	<Tab Name="Tab 2" Icon="unused">
		<p>Different content</p>
	</Tab>
</TabBar>
